.results-container
{
  border: none;
}

.sentence-container
{
  border: none;
}

.sentence
{
  border: none;
}

.with-help
{
  border: none;
}

.with-out-help
{
  border: none;
}

.button-container
{
  border: none;
}

.button
{
  border: none;

  cursor: pointer;
}