.translation-block
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
  
  width: 100%;
  height: 100%;

  &__header
  {
    width: 100%;

    text-align: center;
    text-transform: capitalize;
    text-shadow: 0 0 6rem var(--main-brown-light);
  }

  &__content
  {
    width: 100%;
  }
}

.disable-block
{
  opacity: 0;
  visibility: hidden;
}