.translation-block
{
  border: none;

  &__header
  {
    text-transform: capitalize;
    text-shadow: 0 0 6rem var(--main-brown-light);
  }

  &__content
  {
    border: none;
  }
}

.text-translation
{
  border: none;
}

.text-block
{
  border: none;
}

.button-block
{
  width: 20rem;
  height: 20rem;

  &__able
  {
    background-color: green;
  }

  &__disable
  {
    background-color: red;
  }
}