.button
{
  position: relative;

  padding: 1% 2%;

  background-image: url(../../../../assets/images/border-1.png);
  background-repeat: no-repeat;
  background-size: 110% 120%;
  background-position: 50% 50%;

  background-color: transparent;
  border: none;
  border-radius: 5%;
  box-shadow: 0rem 3rem 3rem 3rem var(--main-brown-middle);

  font-size: 0.4em;
  font-family: "Lora", serif;
  font-optical-sizing: auto;

  letter-spacing: 2rem;
  text-transform: capitalize;
  text-shadow: -1rem 1rem 1rem var(--main-brown-middle);


  transition: 0.3s;
  transform-style: inherit;

  cursor: pointer;
}

@media (hover: hover)
{
  .button:hover
  {
    box-shadow: 0rem 3rem 9rem 3rem var(--iris-eye);
  }
}

.button:active
{
  transform: translate(-1%, 5%);
  box-shadow: 0rem 0rem 3rem 1rem var(--main-brown-middle);
}

.button::first-letter
{
  float: left;

  padding: 5rem;

  font-family: Magic Spell Jf;
  font-style: normal;
  font-size: 1.4em;
  line-height: 1.3;

  color: var(--first-letter-red);
  text-shadow: 0rem 0rem 3rem var(--main-black);
}

.text
{
  width: 100%;
  height: 100%;
  line-height: 2;

  transform-style: inherit;
}