.result-container {
  // display: flex;
  // align-items: start;

  width: var(--size-width-result);
  height: var(--size-height-result);

  border-image-source: url(../../../../../assets/images/border-2.png);
  border-image-slice: 30%;
  border-image-width: 10%;
  border-image-repeat: round;
  border-image-outset: 12rem;
}

.initial-container {
  background-color: var(--main-brown-light);
}

.guess-block {
  display: flex;
  // justify-content: space-between;
  justify-content: flex-start;

  width: var(--size-width-result);
  height: calc(var(--size-height-result) * 0.1);

  background-color: var(--main-brown-light);
}

.result-guess {
  border: none;
}

.initial-guess {
  outline: none;
}

.word-container {
  flex: 1;

  // outline: 2rem solid white;

  cursor: pointer;
}

.word-block {
  padding: 0 0.3em;

  box-shadow: inset 0rem 0rem 1rem 1rem white;

  line-height: 1.75;
  text-align: center;
  text-shadow: 0rem 0rem 6rem white;

  cursor: pointer;
}

.word-block__piece {
  border: none;
}
