:root
{
  --bodyBgc: rgb(235, 233, 229);
}

html
{
  font-size: 1px;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  width: 100%;

  background-color: var(--bodyBgc);
  background-image: url(../assets/images/SimonSays.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto;

  @media(max-width: 768px)
  {
    background-size: 1526rem 861rem;
  }

  @media(max-width: 540px)
  {
    background-size: 1063rem 600rem;
  }
}