:root
{
  --mainBgc: rgb(241, 241, 240);
  --blackMid: rgb(56, 56, 56);
}

.simon-game-wrapper
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100vh;
  max-height: 1070rem;
}

.speech-baloon
{
  position: relative;

  width: 500rem;
  height: 300rem;

  padding: 50rem 50rem;

  font-size: 36rem;

  border: 4rem solid var(--blackMid);
  border-radius: 50%;
  background-color: var(--mainBgc);
}

.simon-speech
{
  transform: translateX(-25%);

  &::after
  {
    position: absolute;
    right: 23rem;
    bottom: 23rem;

    content: '';
    width: 50rem;
    height: 70rem;

    border-right: 4rem solid var(--blackMid);
    border-bottom: 4rem solid var(--blackMid);
    background-color: var(--mainBgc);

    transform: skewX(20deg) rotate(23deg);
  }

  &__own,
  &__word,
  &__answer
  {
    text-align: center;
  }
}

.settings
{
  display: flex;
  gap: 15rem;

  transform: translateX(-40%);
}

.difficulty
{
  display: flex;
  flex-direction: column;
  gap: 15rem;

  width: 200rem;

  padding: 15rem;

  border-radius: 15rem;
  border: 2rem solid var(--blackMid);
  background-color: var(--mainBgc);

  &__elem
  {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 24rem;
  }

  &__label
  {
    text-transform: uppercase;
    cursor: pointer;
  }

  &__input
  {
    transform: scale(2);
    cursor: pointer;
  }
}

.round-view
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;

  width: 200rem;

  padding: 15rem;

  border-radius: 15rem;
  border: 2rem solid var(--blackMid);
  background-color: var(--mainBgc);

  font-size: 36rem;
  text-transform: capitalize;
}