.pages-block {
  border: 1rem solid fuchsia;
}

.page {
  border: 1rem solid darkmagenta;
}

.side {
  border: 1rem solid salmon;

  &-front {
    background-color: burlywood;
  }

  &-back {
    background-color: cadetblue;
  }
}

.content {
  border: 1rem solid black;
}

.item {
  background-color: aquamarine;
}
