.h3
{
  box-shadow: inset 0rem 0rem 3rem 3rem rgb(149, 149, 149);
}

.p 
{
  box-shadow: inset 0rem 0rem 3rem 3rem rgb(222, 213, 213);
}

.span
{
  box-shadow: inset 0rem 0rem 3rem 3rem black;
}

.ul
{
  box-shadow: inset 0rem 0rem 3rem 3rem rgb(201, 154, 104);
}

.li
{
  box-shadow: inset 0rem 0rem 3rem 3rem rgb(183, 201, 104);
}

.first-side
{
  background-color: firebrick;
}

.first-side__word
{
  border: 2rem solid yellow;
}

.second-side
{
  background-color: rgb(178, 176, 34);
}

.third-side
{
  background-color: rgb(120, 178, 34);
}

.fourth-side
{
  background-color: rgb(34, 178, 34);
}

.develop
{
  border: 2rem solid rgb(43, 255, 0);
}

.implement
{
  border: 2rem solid rgb(0, 255, 217);
}

.stack
{
  border: 2rem solid rgb(0, 174, 255);
}

.description
{

}

