/* +++ === _startMessage.scss === +++ */
.start-message-container
{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .start-message__text-block
  {
    max-height: 400px;
      
    overflow-y: scroll;
    
    @media (max-width: 500px)
    {
      max-height: 360px;
      
      overflow-y: scroll;
    }
  }
  
  .start-message__text-2
  {
    span
    {
      img
      {
        width: 35px;
        height: 35px;
      }
    }
  }
}
/* --- === _startMessage.scss === --- */