.book {
  position: relative;

  height: var(--cover-height);
  width: calc(var(--cover-height) * var(--cover-width-ratio));

  transform-style: preserve-3d;
  transform: rotateX(10deg) translateX(50%);

  box-shadow:
    -5rem 5rem 20rem 1rem black,
    inset -1rem 1rem 30rem 1rem black;
}
