/*  +++ === _style-home.scss === +++   */
.hero
{
  display: flex;
  justify-content: center;

  background-image: url(../../assets/images/bg-ball.png), url(../../assets/images/bg-snow.png);
  background-size: 1440rem auto;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 1400px)
  {
    background-size: 1255rem, 1440rem auto;
  }

  @media (max-width: 700px)
  {
    background-size: 1360rem, 1440rem auto;
  }
}

.hero__block
{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12rem;

  width: 426rem;

  padding: 60rem 0;

  color: var(--s-white);
}

.hero__h1
{
  text-align: center;
}

.link-btn
{
  padding: 20rem 32rem;

  color: var(--s-white);
  background-color: var(--dark);
  border-radius: 20rem;

  transition: 0.3s;

  @media (hover: hover)
  {
    &:hover
    {
      color: var(--dark);
      background-color: var(--s-white);
    }
  }
}

.about__block
{
  display: flex;
  justify-content: space-between;

  border-radius: 20rem;

  background-color: var(--s-white);

  @media (max-width: 570px)
  {
    flex-direction: column;
  }
}

.about__text-block
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20rem;

  width: 50%;
  height: 528rem;

  & > :nth-child(1n)
  {
    max-width: 76.17%;
    padding-left: 60rem;

    @media (max-width: 1400px)
    {
      max-width: 84.04%;
    }
    @media (max-width: 570px)
    {
      max-width: 100%;
      padding: 0 20rem;
    }
  }

  @media (max-width: 570px)
  {
    gap: 20rem;

    width: 100%;
    height: auto;

    padding: 60rem 0;
  }
}

.about__caption
{
  color: var(--primary);
}

.about__image-block
{
  width: 50%;
  height: 528rem;

  border-radius: 20rem;

  background-image: url(../../assets/images/santa.png);
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 570px)
  {
    width: 100%;
  }
}

.slider
{
  color: var(--s-white);
}

.slider__header
{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12rem;
}

.slider__block
{
  margin: 20rem 0;
}

.slider__line
{
  display: flex;
  align-items: center;
  gap: 20rem;
}

.slider-item__text
{
  font-family: Montserrat;
  font-size: 80rem;
  font-weight: 600;
  text-transform: uppercase;
}

.slider-item__image
{
  width: 200rem;
  height: 200rem;
}

.slider-image
{
  width: 100%;
  height: 100%;

  border-radius: 20rem;
}

.slider__buttons
{
  display: flex;
  justify-content: end;
}

.buttons__block
{
  display: flex;
  gap: 20rem;
}

.button-left,
.button-right
{
  padding: 15rem;

  border: 1rem solid var(--s-white);
  border-radius: 20rem;

  transition: 0.3s;
  cursor: pointer;

  & svg
  {
    transition: 0.3s;
  }

  @media (hover: hover)
  {
    &:hover
    {
      background-color: var(--s-white);
    }

    &:hover svg path
    {
      stroke: var(--primary);
    }
  }
}

.button-left>.arrow
{
  transform: rotate(180deg);
}

.button__disable
{
  opacity: 0.4;
  cursor: auto;

  @media (hover: hover)
  {
    &:hover
    {
      background-color: initial;
    }

    &:hover svg path
    {
      stroke: white;
    }
  }
}

.best-gifts__header
{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12rem;

  color: var(--s-white);
}

.best-gifts__content
{
  display: flex;
  gap: 12rem;

  margin-top: 20rem;

  @media (max-width: 1400px)
  {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.cta
{
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--s-white);

  background-image: url(../../assets/images/bg-forest.png), url(../../assets/images/bg-snow.png);
  // background-size: 100%;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.cta__content
{
  display: flex;
  flex-direction: column;
  gap: 20rem;

  width: 426rem;

  padding: 120rem 0;
}

.cta__header
{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20rem;
}

.cta__h2
{
  text-align: center;
}

.timer__content
{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
}

.timer
{
  display: flex;
  align-items: center;

  padding: 8rem 12rem 12rem;

  border-radius: 20rem;
  background-color: var(--s-white40);
}

.timer__cell
{
  width: 80rem;
  height: 52rem;

  text-align: center;
}

.separator
{
  width: 0.5rem;
  height: 20rem;

  background-color: var(--s-white);
}

/*  --- === _style-home.scss === ---   */