.form
{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: antiquewhite;
}

.input
{
  background-color: aquamarine;
}

.lable
{
  background-color: rgb(241, 241, 160);
}

.wrapper
{
  width: auto;

  &__first-name
  {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: auto;
  }

  &__last-name
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: auto;
  }
}