.start-card-container
{
  display: grid;
  grid-template-columns: 10% 9% 26% 10% 26% 9% 10%;
  grid-template-rows: auto;
  grid-template-areas: ". . attention attention attention . ."
                       ". . blcode blcode blcode . ."
                       ". . libraryName libraryName libraryName . ."
                       "code1 author author author author author author"
                       "codeC1 bookName bookName bookName bookName bookName bookName"
                       ". data data data data data data"
                       ". annot annot annot annot annot annot"
                       "code2 . . . . . ."
                       "aSetting aSetting aSetting aSetting aSetting aSetting aSetting"
                       ". . . button . . .";
  
  width: 500rem;

  padding: 8rem 16rem;

  background-image: url(../../../../assets/images/post-card.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  box-shadow: inset 0rem 0rem 5rem 2rem var(--main-brown-middle);

  font-size: 0.45em;
  font-family: "Special Elite", serif;
  font-weight: 400;
  font-style: normal;
}

.card-text:nth-of-type(1)
{
  grid-area: attention;

  border-bottom: 1.5rem solid var(--main-black);

  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.card-text:nth-of-type(2)
{
  grid-area: blcode;

  padding-top: 4rem;

  text-align: center;
  text-transform: uppercase;
}

.card-text:nth-of-type(3)
{
  grid-area: libraryName;

  padding-top: 12rem;

  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.card-text:nth-of-type(4)
{
  grid-area: code1;

  padding-top: 12rem;

  border-bottom: 1rem solid var(--main-black);

  text-align: center;
}

.card-text:nth-of-type(5)
{
  grid-area: author;

  padding-top: 12rem;
  padding-left: 4rem;

  border-left: 1rem solid var(--main-black);
  border-bottom: 1rem solid var(--main-black);

  letter-spacing: 2rem;
}

.card-text:nth-of-type(6)
{
  grid-area: codeC1;

  padding-top: 4rem;

  text-align: center;
}

.card-text:nth-of-type(7)
{
  grid-area: bookName;

  padding-top: 4rem;
  padding-left: 4rem;

  border-left: 1rem solid var(--main-black);

  text-transform: capitalize;
  text-decoration: dotted underline;
  letter-spacing: 2rem;
}

.card-text:nth-of-type(8)
{
  grid-area: data;

  padding-top: 4rem;
  padding-left: 4rem;

  border-left: 1rem solid var(--main-black);

  text-decoration: dotted underline;
}

.card-text:nth-of-type(9)
{
  grid-area: annot;

  padding-top: 4rem;
  padding-left: 4rem;

  border-left: 1rem solid var(--main-black);
}

.card-text:nth-of-type(10)
{
  grid-area: code2;

  padding-top: 4rem;

  text-align: center;
}

.audio-setting
{
  grid-area: aSetting;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;

  padding: 12rem 0;
}

.audio-warning
{
  width: 80%;
}

.close-button
{
  grid-area: button;
  
  padding: 4rem 0;

  background-color: transparent;
  border: 1rem dashed var(--main-black);

  box-shadow: 1rem 1rem 1rem 1rem var(--main-brown-middle);

  font-family: "Special Elite", serif;
  font-weight: normal;
  font-style: normal;
  text-transform: capitalize;

  cursor: pointer;

  &:active
  {
    box-shadow: 1rem 1rem 1rem 0rem var(--main-brown-middle);
  }
}