.result-container
{
  border: none;
}

.initial-container
{
  border: none;
}




.guess-block
{
  border: none;
}

.result-guess
{
  border: none;
}

.initial-guess
{
  border: none;
}




.word-container
{
  border: none;
}

.word-block
{
  border: none;
}

.word-block__piece
{
  border: none;
}