.result-container
{
  width: var(--size-width-result);
  height: var(--size-height-result);

  // border: none;
  border-image-source: url(../../../../../assets/images/border-2.png);
  // border-image-slice: 20%;
  // border-image-width: 12%;

  // border-image-slice: 44%;
  // border-image-width: 30%;
  // border-image-repeat: round;

  border-image-slice: 30%;
  border-image-width: 10%;
  border-image-repeat: round;
  border-image-outset: 12rem;


  // border-image-outset: 10rem;
}

.initial-container
{
  // border-image-source: url(../../../../../assets/images/border-1.png);
  // border-image-slice: 8% 30% 30% 30%;
  // border-image-width: 20%;
  // border-image-repeat: round;
  // border-image-outset: 6rem 16rem;

  // border: 4rem ridge var(--main-brown-middle);

  background-color: var(--main-brown-light);
}




.guess-block
{
  width: var(--size-width-result);
  height: calc(var(--size-height-result) * 0.1);
}

.result-guess
{
  border: none;
}

.initial-guess
{
  outline: none;
}




.word-container
{
  border: none;
}

.word-block
{
  border: none;
}

.word-block__piece
{
  border: none;
}